@use "../../scss/" as *;

.hero-slide {
    margin-top: calc($header-height - 1px);
    padding-top: 52.1%;
    height: 100%;
    width: 100%;
    background: url(../../assets/img/main-banner@3x.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}